.outer-form {
  padding: 2rem;
  width: 22.4rem;
}

fieldset{
  box-sizing: border-box;
  width: 20rem;
  height: 30.2rem;
  border-radius: 4px;
  border-width: 0.3rem;
  border-color: #666666;
  padding-left: 4rem;
  padding-right: 4rem;
}

.backdrop {
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;
}

header button, footer button {
  font-size: 1.2rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

header legend {
  padding: 0 4px;
}

.playground {
  width: 13.3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.log-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 6.3rem;
  border: 1px solid #666666;
  margin: 2px auto;
  width: 15rem;
  height: 26rem;
  background: white;
  text-align: center;
}

.game-over-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 6.3rem;
  border: 1px solid #666666;
  margin: 2px auto;
  width: 15rem;
  height: 21rem;
  background: white;
  text-align: center;
}

.log-records {
  width: 13rem;
  height: 16rem;
  border: 1px solid #666666;
  border-radius: 0.2rem;
  overflow-y: scroll;
}

.log-records p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.log-submit {
  margin-top: 1.4rem;
}

.visible {
  display: block;
}

.visible-flex {
  display: flex;
}

.hidden {
  display: none;
}
