<div class="outer-form" [ngClass]="{'backdrop': isLogShowed || game.showGameOver}">
  <fieldset>
    <legend>OX-Game</legend>
    <header>
      <button (click)="onRestart()">Restart</button><span>{{ game.gameStageMessage }}</span>
    </header>
    <div class="playground">
      <ng-container *ngFor="let cell of cells">
        <app-cell [row]="cell.row" [column]="cell.column" [value]="cell.value"></app-cell>
      </ng-container>
    </div>
    <footer>
      <button *ngIf="game.isGameOver" (click)="isLogShowed = true">Show Logs</button>
    </footer>
  </fieldset>
</div>

<div class="log-popup" [ngClass]="{'visible-flex': isLogShowed}">
  <h4>Logs</h4>
  <div class="log-records">
    <p *ngFor="let record of logger.getRecords()">{{ record }}</p>
  </div>
  <button class="log-submit" (click)="isLogShowed = false">Ok</button>
</div>


<div class="game-over-popup" [ngClass]="{'visible-flex': game.showGameOver}">
  <h4>{{ game.gameStageMessage }}</h4>
  <button class="log-submit" (click)="game.showGameOver = false">Ok</button>
</div>
