.cell {
  width: 4rem;
  height: 4rem;
  border: 0.15rem solid #333333;
  border-radius: 0.4rem;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0;
}


